.page-inner {
  max-width: 1000px;
}
.book-summary {
  background-color: #90a959;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
  color: #000000;
}
.book-summary ul.summary li.active>a {
  color: #ffffff;
  font-weight: bold;
}
.t, .tag {
  font-size: .7em;
  padding: .15em 5px;
  background-color: #bbbbbb;
  color: #ffffff;
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: .15em;
}
