.page-inner {
  max-width: 1000px;
}
.book-summary {
  background-color: #90a959;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
  color: #000000;
}
.book-summary ul.summary li.active>a {
  color: #ffffff;
  font-weight: bold;
}
.t {
  font-size: .8em;
  padding: 1px 3px;
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
}
